

<div class='mathrix-modal mathrix-modal-rank mathrix-modal-small animate'>

  <!--<div class='titre'>Tu montes au niveau</div>-->

  <div class='img-new-rank animate'>
  <img class='medaille' src='/img/element/medaille/[[rank]]-min.png'>
  <div class='banner-container'><img src='/img/element/medaille/medaille-banner.jpg'>
    <div class='texte'>Niveau [[rank]]</div>
  </div>
  </div>
  <div progression-bar animate></div>
  <div class='footer'><button class='button-big button-accent button-table single-button' ng-click='close()'>Continuer</button>
  </div>
</div>
