<div class='mathrix-modal-objectif-atteint mathrix-modal mathrix-modal-small animate' >


<div class='lumix-anim-container'>
  <div class='lumix-objectif-atteint'></div>
  <div class='paillette-star-1 anim1 animate-star slow'></div>
  <div class='paillette-star-1 anim2 animate-star'></div>
  <div class='paillette-star-1 anim2 animate-star slow'></div>
  <div class='paillette-star-2 anim2 animate-star medium'></div>
  <div class='paillette-star-2 anim1 animate-star'></div>
  <div class='paillette-star-2 anim2 animate-star'></div>
  <div class='paillette-point-1 anim1 animate-star'></div>
  <div class='paillette-point-1 anim1 animate-star medium'></div>
  <div class='paillette-point-1 anim2 animate-star slow'></div>
  <div class='paillette-point-1 anim1 animate-star slow'></div>


</div>
  <div class='footer'>
  <button class='button-big button-accent button-table single-button' ng-click='close()'>Continuer</button>
</div>
</div>
