<div class='mathrix-modal mathrix-modal-small animate'>
<div class='modal-close' ng-click='close();'></div>


<div class='titre'>Supprimer mon compte</div>

  <p>Pour supprimer ton compte, envoie un email à <a href='mailto:contact@mathrix.fr' class='mathrix-lien'>contact@mathrix.fr</a>.
</p>
  <p>Dans le but d'améliorer notre service, indique-nous la raison de ton départ.</p>
  <div class='footer'>
    <button class='button button-big button-accent margin single-button' ng-click='close()'>Fermer</button>
  </div>

</div>
